* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6ede1;
}

.bayan {
    margin: 15px auto 0 auto;
    max-width: 60%;
}
.bayan h1{
    margin-bottom: 20px;
}

.accordion li {
    border-top: 1px solid grey;
    min-height: 45px;
    list-style: none;
}
.accordion li label{
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.accordion li span img {
    width: 14px;
    transition: all ease-in-out .2s;
}

.accordion [type="checkbox"] {
    display: none;
}

.content {
    display: flex;
    justify-content: center;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: all ease-in-out .7s;
}

input:hover + .content {
    height: 100%;
    visibility: visible;
}
input:checked + .content {
    height: 100%;
    visibility: visible;
    transition: all ease-in-out .7s;
}

