* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    position: absolute;
    height: 0;
    width: 0;
}
h1 {
    margin: 10px;
}
body{
    background-color: #f6ede1;
}
.bayan{
    max-width: 70vw;
    margin: 0 auto;
}
.collapsible-accordion {
    margin: 10px;
    overflow: hidden;
}
.collapsible-item-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    border-top: 1px solid black;
}
.bayan .collapsible-item-label::after {
    position: relative;
    content: "\002B";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .5s;
}
.collapsible-item svg{
    font-size: 13px;

}
.collapsible-item-content {
    max-height: 0;
    padding: 0 1em;
    transition: all 0.35s;
}
.collapsible-item-content img{
    display: block;
    margin: 0 auto;
    width: 60%;
}
input:checked + .collapsible-item-label::after {
    transform: rotate(45deg);
}
input:checked ~ .collapsible-item-content {
    max-height: 100vh;
    padding: 1em;
}
